/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* mixins */
.flexed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.font {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.1rem;
  color: #2c1642;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #e7ff5f;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.container {
  width: 1000px auto;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
  }
  .container header .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin-right: 0.5rem;
  }
  .container header .nav li {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    line-height: 1.1rem;
    color: #2c1642;
    padding: 0 0px;
    font-size: 1rem;
  }
  .container section .top-container {
    padding: 0.5rem;
    border: 2px solid #2c1642;
    margin: 0.6rem 2rem;
  }
  .container section .top-container .kb-img {
    width: 200px;
    border: 2px solid #2c1642;
  }
  .container section .top-container .top-content {
    margin: 1rem;
  }
}
.container header .nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  padding: 1.5rem;
  margin-right: 1rem;
}
.container header .nav li {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.1rem;
  color: #2c1642;
  padding: 0 2rem;
  font-size: 1.2rem;
}
.container section {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.1rem;
  color: #2c1642;
}
.container section .top-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  padding: 1rem;
  border: 3px solid #2c1642;
  margin: 1rem 3rem;
  background-color: #dbdbff;
}
.container section .top-container .top-content {
  text-transform: uppercase;
  margin: 2rem;
}
.container section .top-container .top-content .top-name {
  font-size: 2rem;
  display: block;
  margin: 1rem 0;
}
.container section .top-container .top-content .top-name-sub {
  font-size: 1.2rem;
  display: block;
}
.container section .top-container .kb-img {
  border: 3px solid #2c1642;
  box-shadow: 8px 8px #e7ff5f, -8px -8px #7d458d;
  margin: 2rem;
  width: 100%;
  overflow: hidden;
}
.container section .top-container p {
  padding: 2rem;
  text-align: right;
}
.container section .mid-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  align-items: flex-end;
}
.container section .mid-container h3 {
  text-transform: uppercase;
  line-height: 2rem;
  font-size: 2em;
  padding: 0.6rem;
}
.container section .mid-container .mid-container-skills {
  text-align: right;
  padding: 3rem;
}
.container section .mid-container .mid-container-skills ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-end;
}
.container section .mid-container .mid-container-experience .title-date {
  list-style-type: circle;
}
.container footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.1rem;
  color: #2c1642;
  background-color: #2c1642;
  padding: 2em;
  margin-top: 5rem;
  font-size: 0.8rem;
  color: #dbdbff;
}
