/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* mixins */
.flexed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.font {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  line-height: 1.1rem;
  color: #3b1e57;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.container {
  width: 1000px auto;
  background-image: url(/img/texture-black.png), linear-gradient(to bottom, #e7ff5f, #e9e9e9);
}
@media (max-width: 500px) {
  .container {
    width: 100%;
  }
}
.container header .nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  padding: 1.5rem;
  margin-right: 1rem;
}
@media (max-width: 500px) {
  .container header .nav {
    justify-content: center;
    margin: 0;
  }
}
.container header .nav li {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  line-height: 1.1rem;
  color: #3b1e57;
  padding: 0 1.5rem;
  font-size: 1.2rem;
}
@media (max-width: 500px) {
  .container header .nav li {
    padding: 0 1.4rem;
    font-size: 1rem;
  }
}
.container section {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  line-height: 1.1rem;
  color: #3b1e57;
}
.container section .top-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: inherit;
  max-width: 1000px;
  padding: 1rem;
  border: 3px solid #3b1e57;
  margin: 0 3rem;
  background-image: linear-gradient(to bottom, #dbdbff, #785083);
}
@media (max-width: 500px) {
  .container section .top-container {
    align-content: center;
    padding: 0.5rem;
    border: 2px solid #3b1e57;
    margin: 0.6rem 2rem;
  }
}
.container section .top-container .top-content {
  margin: 2rem;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  .container section .top-container .top-content {
    margin: 1rem;
  }
}
.container section .top-container .top-content .top-name {
  display: block;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  font-size: 2rem;
}
@media (max-width: 500px) {
  .container section .top-container .top-content .top-name {
    padding: 0.2rem 0;
  }
}
.container section .top-container .top-content .top-name-sub {
  font-size: 1.1rem;
  display: block;
}
@media (max-width: 500px) {
  .container section .top-container .top-content .top-name-sub {
    font-size: 0.8rem;
  }
}
.container section .kb-img {
  border: 3px solid #3b1e57;
  box-shadow: 8px 8px #e7ff5f, -8px -8px #785083;
  margin: 2rem;
  width: 100%;
  overflow: hidden;
  max-width: 600px;
}
@media (max-width: 500px) {
  .container section .kb-img {
    border: 2px solid #3b1e57;
    margin-bottom: 1rem;
  }
}
.container section p {
  text-align: right;
  padding: 1.5rem;
  margin: 0 2rem;
  font-size: 1rem;
  color: #e9e9e9;
}
@media (max-width: 500px) {
  .container section p {
    text-align: center;
    padding: 1rem;
    font-size: 0.8rem;
  }
}
.container section .mid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-items: flex-start;
  line-height: 1.2rem;
  margin: 2rem 0;
}
@media (max-width: 500px) {
  .container section .mid-container {
    font-size: 0.8em;
    flex-wrap: wrap;
    margin: 1rem 0;
  }
}
.container section .mid-container h3 {
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2rem;
  padding-bottom: 1rem;
}
@media (max-width: 500px) {
  .container section .mid-container h3 {
    font-size: 1.5rem;
  }
}
.container section .mid-container .mid-container-skills {
  text-align: right;
  padding: 0.5rem 1.5rem;
}
@media (max-width: 500px) {
  .container section .mid-container .mid-container-skills {
    padding: 1rem;
    text-align: center;
  }
}
.container section .mid-container .mid-container-skills ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-end;
  line-height: 1.7rem;
  font-size: 1rem;
}
@media (max-width: 500px) {
  .container section .mid-container .mid-container-skills ul {
    align-items: center;
    line-height: 1.3rem;
  }
}
.container section .mid-container .mid-container-experience {
  padding: 2rem;
  font-size: 1rem;
}
@media (max-width: 500px) {
  .container section .mid-container .mid-container-experience {
    align-items: center;
    padding: 1rem;
  }
}
.container section .mid-container .mid-container-experience .title-date:before {
  content: "\00BB";
}
.container section .mid-container .mid-container-experience .title-date {
  margin: 0.5rem;
}
.container section .mid-container .mid-container-experience li h5 {
  font-size: 0.8rem;
}
.container section .bottom-container {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  line-height: 1.1rem;
  color: #3b1e57;
  text-align: center;
  font-size: 1rem;
}
.container section .bottom-container h3 {
  display: inline-block;
  width: 20rem;
  margin: 1.5rem;
  font-size: 1.7rem;
}
.container section .bottom-container ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .container section .bottom-container ul {
    flex-wrap: wrap;
  }
}
.container section .bottom-container ul img {
  overflow: hidden;
  max-width: 50px;
  margin: 0.5rem 1rem;
}
.container section .bottom-container ul h5 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  line-height: 1.1rem;
  color: #3b1e57;
  font-size: 0.8rem;
  text-decoration-style: none;
}
.container footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  line-height: 1.1rem;
  color: #3b1e57;
  background-color: #3b1e57;
  padding: 2rem;
  margin-top: 5rem;
  font-size: 0.8rem;
  color: #dbdbff;
}
